/* navigation bar */
ul.navbar {
    list-style-type: none;
    background-color: blue;
    overflow: hidden;
    text-align: center; /* Center text */
}

li.navitem {
    display: inline-block; /*list items inline */
    margin-right: 20px; /* spacing between items */
}

li.navitem a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

li.navitem a:hover {
    background-color: #555;
}

/*  main header */
.header {
    background-color: red;
    padding: 20px;
    text-align: center;
    
}
.header img{
    width: 75px;
    height: 75px;
    margin-right: 30px;

}

.header h1 {
    color: white;
    font-size: 60px;
    font-family: verdana;
}
 

/* the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* spacebetween the header and table */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

/*  */
tr:nth-child(even) {
    background-color: #192595;
}

/* Hover */
tr:hover {
    background-color: #ddd;
}